@import '../../index.scss';

.InteractiveBlock {
  display:flex;
  flex-direction: column;
  position: relative;
}

.ButtonContainer {
  left: 50%;
}

.StartGameButton {
  background-color: rgba(141, 135, 135, 0.527);
  border: 0;
  height: 30px;
  width: 200px;
  font-weight: $bold;
  font-size: 30px;
  text-align: center;
  line-height: 10px;
  margin-left: 200px;
  transform: skewY(-0.5deg);
  &:hover {
    background-color: $secondary;

  }
}
.InteractiveBox {
  background-color: $secondary;
  transform: skewY(-1.5deg);
  &.mini {
    transform: skewY(2.5deg);
    background-color: rgba(141, 135, 135, 0.527);
  }
}
