@import '../../../index.scss';

.CategoryCard {
  height: 100%;
  border-radius: 10px;
  opacity: 0.9;
  overflow: hidden;
  &:hover {
    opacity: 1;
  }
}

.CardImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.CategoryText {
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-weight: $bold;
}
