@import '../../index.scss';

.CardHolder {
  margin: 25px 0 25px 0;
  padding: 25px;
  width: 80%;
  height: 80%;
  background-color: $main;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  border-radius: 10px;
}

.Link {
  text-decoration: none;
  font-size: 40px;
  color: black;
}

.CardHolder.word {
  grid-template-columns: repeat(4, 1fr);
}

.Card {
  width: 100%;
  height: 250px;
  background-color: white;
  align-self: center;
  justify-self: center;
  border-radius: 10px;
  position: relative;
  transition: all 0.1s linear;
  box-shadow: $box-shadow-small;
  &:hover {
    transform: scale($scale-value);
    box-shadow: $box-shadow-big;
  }
}
