@import '../../index.scss';
@import '../../styles.scss';

.CardHolder {
  margin: 25px 0 25px 0;
  padding: 25px;
  width: 80%;
  height: 80%;
  background-color: $main;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  border-radius: 10px;
  &.word {
    grid-template-columns: repeat(4, 1fr);
  }
  &.offline {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}

.offlineContentReloadButton {
  background-color: rgba(128, 128, 128, 0.459);
  cursor: pointer;
  color: black;
  height: 25px;
  width: 90px;
  box-shadow: $box-shadow-small;
  border: none;
  border-radius: 10px;
  &:hover {
    background-color: rgba(128, 128, 128, 0.548);
  }
  &:active {
    background-color: $secondary;
  }
}

.Link {
  text-decoration: none;
  font-size: 40px;
  color: black;
}

.Card {
  width: 100%;
  height: 250px;
  background-color: white;
  align-self: center;
  justify-self: center;
  border-radius: 10px;
  position: relative;
  transition: all 0.1s linear;
  box-shadow: $box-shadow-small;
  &:hover {
    transform: scale($scale-value);
    box-shadow: $box-shadow-big;
  }
}

@media (max-width: $wide-screen2) {
  .CardHolder.word {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: $wide-screen1) {
  .Link {
    font-size: 32px;
  }
}

@media (max-width: $medium-screen2) {
  .CardHolder {
    grid-template-columns: repeat(2, 1fr);
  }
  .CardHolder.word {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: $mobile-screen3) {
  .CardHolder {
    grid-template-columns: repeat(1, 1fr);
  }
  .CardHolder.word {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: $minimum-screen) {
  .CardHolder {
    width: 280px;
  }
}
