@import '../../index.scss';
@import '../../styles.scss';

.Header {
  width: 100%;
  height: 90px;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 14;
  opacity: 0.9;
}

.SideBarOpenButton {
  padding: 0;
  margin: 0;
  transform: rotate(90deg);
  display: flex;
  align-items: center;
  justify-content: center;
  left: 10%;
  font-size: 3.5em;
  font-weight: 800;
  z-index: 5;
  cursor: pointer;
  transition: all 0.1s;
  position: absolute;
  width: 85px;
  height: 85px;
  user-select: none;
  &:hover {
    transition-delay: $t-delay;
    left: calc(10% + 5px);
    margin: 0;
    color: $secondary;
  }
}

.ModeSelector {
  right: 10%;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 14;
}

.ModeText {
  margin-right: 5px;
  user-select: none;
  font-size: 15px;
  font-weight: $medium;
  font-family: $appfont;
}

@media (max-width: $minimum-screen) {
  .Header {
    width: $minimum-size;
  }
}
