.SideBarContainer {
  display: flex;
  flex-direction: column;
}

.SideBar {
  width: 25%;
  height: 100%;
  z-index: 7;
  left: -100%;
  opacity: 0;
  transition: all 0.5s;
  position: fixed;
  background-color: white;
}

.SideBar.active {
  left: 0;
  transition: all 0.5s;
  opacity: 0.9;
}

.SideBarMenuItem {
  text-decoration: none;
  padding-top: 10px;
  color: black;
  font-size: 25px;
}

.SideBarMenuItem.close {
  padding: 0 10% 0 0;
  border: none;
  background: none;
  font-size: 35px;
  font-weight: 800;
}

.SideBarMenuItem:hover {
  text-shadow: rgb(65, 61, 61);
  color: coral;
}

li {
  padding-top: 30px;
  text-transform: uppercase;
  list-style-type: none;
}

ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1280px) {
  .SideBar {
    width: 400px;
  }
}

@media (max-width: 1024px) {
  .SideBar {
    width: 400px;
  }
}

@media (max-width: 600px) {
  .SideBar {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .SideBar {
    width: 320px;
  }
}
