$main: rgba(0, 52, 0, 0.137);
$gradient: rgb(187, 230, 106);
$secondary: rgb(0, 52, 0, 0.4);
$sidebar: rgb(197, 233, 184);
$t-delay: 0.2s;
$bold: 700;
$medium: 500;
$light: 400;

@keyframes swing {
  15% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  30% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
  }
  40% {
    -webkit-transform: translateX(2.7px);
    transform: translateX(2.7px);
  }
  50% {
    -webkit-transform: translateX(-1.3px);
    transform: translateX(-1.3px);
  }
  65% {
    -webkit-transform: translateX(1.3px);
    transform: translateX(1.3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  background-color: rgb(224, 224, 224);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media (max-width: 1400px) {
  .CardHolder.word {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1280px) {
  .Link {
    font-size: 32px;
  }
}

@media (max-width: 1024px) {
  .CardHolder {
    grid-template-columns: repeat(2, 1fr);
  }
  .CardHolder.word {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .CardHolder {
    grid-template-columns: repeat(1, 1fr);
  }
  .CardHolder.word {
    grid-template-columns: repeat(1, 1fr);
  }
  .InteractiveBox {
    padding: 0 5px 0 5px;
    font-size: 0.8em;
  }
  .StartGameButton {
    margin-left: 150px;
  }
}

@media (max-width: 320px) {
  .CardHolder {
    width: 280px;
  }
}
