html {
  scroll-behavior: smooth;
}

$main: rgba(0, 52, 0, 0.137);
$statsblock: rgba(0, 52, 0, 0.705);
$gradient: rgb(187, 230, 106);
$secondary: rgb(0, 52, 0, 0.4);
$sidebar: rgb(197, 233, 184);
$control-panelbg: rgb(248, 241, 241);
$box-shadow-small: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
$box-shadow-big: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
$t-delay: 0.05s;
$bold: 700;
$medium: 500;
$light: 400;
$scale-value: 1.02;
$minimum-size: 320px;
$wide-screen2: 1400px;
$wide-screen1: 1280px;
$medium-screen2: 1024px;
$medium-screen1: 880px;
$medium-screen2: 1024px;
$medium-screen1: 880px;
$mobile-screen3: 650px;
$mobile-screen2: 600px;
$mobile-screen1: 500px;
$minimum-screen: 320px;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  background-color: rgb(224, 224, 224);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
