$main: rgb(0 52 0 / 13.7%);
$statsblock: rgb(0 52 0 / 70.5%);
$gradient: rgb(187 230 106);
$secondary: rgb(0 52 0 / 40%);
$secondary-op1: rgb(0 0 0 / 82.2%);
$sidebar: rgb(197 233 184);
$control-panelbg: rgb(248 241 241);
$box-shadow-small: rgb(0 0 0 / 16%) 0 3px 6px, rgb(0 0 0 / 23%) 0 3px 6px;
$box-shadow-big: rgb(0 0 0 / 25%) 0 14px 28px, rgb(0 0 0 / 22%) 0 10px 10px;
$t-delay: 0.05s;
$bold: 700;
$medium: 500;
$light: 400;
$scale-value: 1.02;
$minimum-size: 320px;
$wide-screen2: 1400px;
$wide-screen1: 1280px;
$medium-screen2: 1024px;
$medium-screen1: 880px;
$medium-screen2: 1024px;
$medium-screen1: 880px;
$mobile-screen3: 650px;
$mobile-screen2: 600px;
$mobile-screen1: 500px;
$minimum-screen: 320px;
$appfont: -apple-system, blinkmacsystemfont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
  'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

@keyframes swing {
  15% {
    transform: translateX(4px);
    transform: translateX(4px);
  }

  30% {
    transform: translateX(-4px);
    transform: translateX(-4px);
  }

  40% {
    transform: translateX(2.7px);
    transform: translateX(2.7px);
  }

  50% {
    transform: translateX(-1.3px);
    transform: translateX(-1.3px);
  }

  65% {
    transform: translateX(1.3px);
    transform: translateX(1.3px);
  }

  100% {
    transform: translateX(0);
    transform: translateX(0);
  }
}
